* {
   border-radius: 10px;
}

body{
   background: lightslategray;
}
h1 {
   text-align: center;
}

.scoreboard {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.pscore{
   background: #A2E5FF;
}
.cscore{
   background: #E5FFA2;
}

.pscore, .cscore {
   height: 100px;
   width: 100px;
   display: flex;
   flex-flow: column;
   justify-content: space-around;
   align-items: center;
   border: 2px solid black;
   text-align: center;
}
.output {font-size: 3rem;}

.ui {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   margin: 20px;
}
.options {
   background: none;
   outline: none;
   border: none;
   font-size: 2.5rem;
   background: #BCA2FF;
   border-radius: 10px;
}

.mess {
   height: 50px;
   margin: 10px;
   border: 2px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #FFBCA2;
}

